
 <div class="clearfix">
        
<div class="" style="float: left;">
    <ul class=" bg-warning h-50 text-white pb-3 fw-bold" style="height: 100%;">
      
          <li class="nav-item">
            <a routerLink="/dashboard/users" class="nav-link mt-2">Profile</a>
          </li>
          <li class="nav-item">
            <a routerLink="/dashboard/wallet" class="nav-link mt-2">Admin</a>
          </li>
          <li class="nav-item">
            <a routerLink="/dashboard/transaction" class="nav-link mt-2">Transactions</a>
          </li>
    
    </ul>
    <div style="margin-left: 250px;">
       <router-outlet></router-outlet>
    </div>
</div>

 </div>
